includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon


parameters:
	level: max

	paths:
		- %rootDir%/../../../src
		- %rootDir%/../../../tests

	ignoreErrors:
		-
			message: '#Cannot assign new offset to string\.#'
			path: src/OpenGraph.php
